
.nav-link{
    color: rgba(0, 0, 0, 0.808);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
  
   
}

.nav-link:hover{
    cursor: pointer;
    color: rgba(245, 18, 18, 0.76) !important;
}
.images{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    border: none;
    transform: scale(10px);
    border: 2px solid yellowgreen;
}
