.offer-card{
    position: relative;
    overflow: hidden;
}
.offer-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(50px);
    transition: 0.7s;
    border: none;
    font-weight: 600;
    padding: 5px 15px;
}
.offer-btn:hover{
    background-color: red;
    color: white
    
    
    
    
    ;
}
.offer-card:hover .offer-btn{
    transform: translateX(-50%) translateY(0px);
}
.offer-card img{
    transition: 1s;
}

.offer-card:hover img{
    transform: scale(1.2);
}